<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @build.name %>
</p>

<p>
  <strong>Klass:</strong>
  <%= @build.inspect %>
</p>

<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>
