<p id="notice"><%= notice %></p>

<h1>Listing Paragons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Klass</th>
      <th>Skills</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paragons.each do |paragon| %>
      <tr>
        <td><%= paragon.name %></td>
        <td><%= paragon.klass %></td>
        <td><%= paragon.skills %></td>
        <td><%= link_to 'Show', paragon %></td>
        <td><%= link_to 'Edit', edit_paragon_path(paragon) %></td>
        <td><%= link_to 'Destroy', paragon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paragon', new_paragon_path %>
